doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.2.1.js")
    //- script(src="http://fb.me/react-js-fiddle-integration.js")
    script(src="javascripts/main.js")
  body
    block content
